@import url('https://fonts.googleapis.com/css?family=Gruppo|Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: block;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 1em;
	max-width: 150%;
}

section {
	padding: 5em .5em;
}

h1 {
	color: #BFF205;
	font-family: 'Gruppo', serif;
	font-size: 4em;
	letter-spacing: 5px;
	text-align: left;
	padding: .25em;
}

h2 {
	color: #FA1EA5;
	font-family: 'Gruppo', sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: .25em 0;
}

h3 {
	color: #FA1EA5;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	padding: .25em 0;

}

h4 {
	color: #11DEFF;
	font-family: 'Gruppo', sans-serif;
	font-size: 1.75em;	
	padding: .25em 0;
}

p {
	color: #CCEDFF;
	text-align: left;
	padding: .5em 1em;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	font-style: bold;
	color: #59C4FF
}

header {
	display: block;
	background-image: url("images/egoprov_11.jpg");
	background-color: black;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
}

nav {
	display: inline;
	float: right;
	padding: 2.5em;
}

footer {
	padding: .5em;
}

.navbutton {
	background-color: rgba(0,0,0,.5);
	color: #11DEFF;
	padding: 1em;
	border-radius: .25em;
}

.subsection {
	padding: 1em;
}

.photolink {
	width: 33.33%;
	border: none;
	padding: .25em;
	float: left;
}

.logo {
	list-style-type: none;
	width: 33.33%;
	float: left;
	padding: 2em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#heading {
	color: #FFFFFF;
	font-family: 'Gruppo', serif;
	font-size: 4em;
	letter-spacing: 5px;
	padding: .25em;
}

#subheading {
	color: #11DEFF;
	font-family: 'Gruppo', sans-serif;
	font-size: 2em;
	letter-spacing: 5px;
	padding: 0 .5em;
}

#left {
	float: left;
	width: 22%;
	padding-top: .5em;
}

#right {
	float: right;
	width: 75%;

